* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  
  html {
    min-height: 100%;
  }
  
  body {
    background: linear-gradient(-90deg, gray, white);
    height: 100vh;
  }
  .loader{
    display: flex;   
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }