    form {
    margin-bottom: 100px;
    padding-bottom: 50px;
    background-color: hsla(0,0%,87.8%,.38)!important;
    width: 600px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 6px 6px 10px grey;
    border: 1px solid rgba(121,104,104,.287);
    }
    .form0{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .form h2{
    color: #000;
    font-family: "Merienda One",cursive;
    text-align: center;
    font-weight: 400;
    padding-top: 20px;
    }
    .form label{
    color: rgba(14, 13, 13, 0.863);
    font-family: "Merienda One",cursive;
    padding-left: 35px;
    font-weight: 800;
    font-size: 13px;

    }
    .all{
        margin-bottom: 30px;
    }
    .form input {
        width: 500px;
        height: 40px;
        margin-left: 30px;
        border-radius: 15px;
        border: none;
        border-bottom: 1px solid #000;
        outline: none;
    }
    .form button {
        width: 400px;
        height: 40px;
        margin-left: 100px;
        margin-top: 20px;
        border: none;
        color: #fff;
        font-weight: bold;
        background-color: #3f51b5;
        border-radius: 5px;
    }
    .form button:hover{
        background-color: #223edd;
    }
    .thank {
        text-align: center;
        border: 2px solid gray;
        border-bottom: 1px solid #000;
        border-radius: 30px;
        margin-bottom: 100px;
        padding: 100px;
    }
    .thank0{
        margin-top: 100px;
    }
    .thank h1{
        color: green;
        margin-bottom: 20px;
    }
    .thank h4{
    font-size: 15px;
    padding-bottom: 20px;
    }
    .thank button {
        width: 400px;
        height: 40px;
        margin-top: 20px;
        border: none;
        color: #fff;
        font-weight: bold;
        background-color: #3f51b5;
        border-radius: 5px;
    }
    .thank button:hover{
        background-color: #223edd;
    }
                                    /* media querry */

@media (max-width: 800px) {
        .form{
            width: 500px;
        }
        .form input{
            width: 400px;
        }
        .form button{
            width: 300px;
            margin-left: 80px;
}
    }
@media (max-width: 600px) {
        .form{
            width: 450px;
        }
        .form input{
            width: 350px;
        }
        .form button{
            width: 250px;
            margin-left: 80px;
        }
    }
@media (max-width: 500px) {
        .form{
            width: 380px;
        }
        .form input{
            width: 280px;
        }
        .form button{
            width: 200px;
            margin-left: 70px;
        }
        .thank button{
            width: 300px;
        }
    }
@media (max-width: 400px) {
        .form{
            width: 290px;
        }
        .form input{
            width: 190px;
        }
        .form button{
            width: 140px;
            margin-left: 60px;
        }
        .thank button{
            width: 250px;
        }
    }